
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}


.form-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}


.submit-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}


.signup-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #666;
}


.signup-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}


.logo-container {
    margin-left: 20px;
}


.logos {
    width: 300px;
    height: 300px;

}